<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
<body>
    <h1>Edit Brag</h1>
    <form id="edit" action="/foods/edit/<%= id %>?_method=PUT" method="POST" autocomplete="off">
        <label>Sport:</label>
            <select name="food">
                <option value="Fastest Eating">Fastest Eating</option>
                <option value="Largest Food">Largest Food</option>
                <option value="Heaviest Food">Heaviest Food</option>
                <option value="Most...">Most...</option>
            </select><br>
        <label>Title:</label>
        <input type="text" name="title" value="<%= food.title %>"/><br>
        <label>Content:</label>
        <textarea name="content"><%= food.content %></textarea><br>
        <label>Proof:</label>
        <input type="url" name="proof" value="<%= food.proof %>"/><br>
        <button type="submit">Update Brag</button><br>
    </form>
    <a href="/foods/<%= id%>">Back</a>
</body>


