<%- include('../partials/header') %>
<%- include('../partials/sidebar') %>
    <section id="show-page">
        <div>Food:</div>
        <div><%= food.food %></div>
        <div>User:</div>
        <div><%= food.user[0].name %></div>
        <div>Title:</div>
        <div><%= food.title %></div>
        <div>Description:</div>
        <div><%= food.content %></div>
        <div>Proof:</div>
        <a href="<%= food.proof %>" target="_blank"><%= food.proof %></a>
        <p><%= food.date %></p>
    </section>
    <% if (food.user[0]._id.toString() === user._id.toString()) { %>
    <a href='/foods/edit/<%= id%>'>Edit Brag</a>
    <% } %>
    <a href='/foods/'>Back</a>
    <br /><br />
    <h2>Comments:</h2>
        <form id="add-comment-form" method="POST" action="/foods/<%= food._id %>/comments">
            <label>Comment:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <select name="rating">
                <option value="Awesome Job!">Awesome Job!</option>
                <option value="Keep It Up!">Keep It Up!</option>
                <option value="I Can Do Better!">I Can Do Better!</option>
                <option value="SHAME!">SHAME!</option>
            </select>
        <input type="submit" value="Add Comment" />
    </form>
    <% if (food.comments.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Comments</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% food.comments.forEach(function(c) { %>
          <tr>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td><%= c.rating %></td> 
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <h5>No Comments Yet</h5>
      <% } %>      
</body>